* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f2c14e;
}

body {
  font-family: "Silkscreen", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 65px;
  margin: 50px 0 20px 0;
}

.winnerText {
  display: none;
}

.container > button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 700;
  margin-bottom: 30px;
}

.container > button:hover {
  cursor: pointer;
}

#gameboard {
  width: 670px;
  height: 570px;
  margin-top: 20px;
  background-color: #0000ff;
  border-radius: 10px;
  z-index: 2;
  display: flex;
}

#gameboard > .column-container {
  display: flex;
  flex-direction: column;
  width: 96px;
}

#gameboard > .column-container > button {
  background-color: var(--orange);
  padding: 5px 8px 8px 8px;
  margin: 0 5px 5px 5px;
  color: #333;
  border-color: var(--orange);
  border-radius: 5px;
  font-weight: 600;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: bottom;
  background-size: 10px auto, 100%;
  background-repeat: no-repeat;
}

#gameboard > .column-container > button:hover {
  cursor: pointer;
}

#gameboard > .column-container > button:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#gameboard > .column-container > .column > .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  margin: 8px;
}

#gameboard > .column-container > .column > .circleRed {
  background-color: #dc143c;
}

#gameboard > .column-container > .column > .circleYellow {
  background-color: #ffd700;
}
