* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f2c14e;
  background-color: #d4efdf;
}

body {
  font-family: "Silkscreen", cursive;
}

h1 {
  text-align: center;
  font-size: 65px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

button:hover {
  cursor: pointer;
}

#gameboard {
  width: 700px;
  height: 580px;
  margin-top: 20px;
  background-color: #0000ff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

#column1 {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
  width: 96px;
}

#column2 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

#gameboard > .column > .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  margin: 8px;
}

/*#gameboard > .column > .circleRed {
  background-color: #ff0000;
}

#gameboard > .column > .circleYellow {
  background-color: #f1c40f;
}*/
